DEBUG=True
SECRET_KEY=dev-secret-key-change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database
DATABASE_URL=postgres://postgres:postgres@db:5432/flight_booking

# Redis & Celery
REDIS_URL=redis://redis:6379/0

# Fernet Key for encryption (must be 32 url-safe base64-encoded bytes)
FERNET_KEY=O2Z_EwZKX_uE2MWeEaM5hM9VnYyMzIyMjQyNTI2Mjc=

# Paystack
PAYSTACK_SECRET_KEY=sk_test_xxxxxx
PAYSTACK_PUBLIC_KEY=pk_test_xxxxxx

# Termii / SendGrid
TERMII_API_KEY=xxxxxx
SENDGRID_API_KEY=xxxxxx
